* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font : WorkSans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  border: 1px solid red;
}
body {
  border: 2px dashed blue;
}
.work_sans_font {
  font-family: "Work Sans", sans-serif;
}

/* shared style  */
.hide {
  display: none;
}
.container {
  width: 75.66%;
  margin: 0 auto;
}
main > section {
  width: 75%;
  margin: 0 auto;
}
.btn_primary {
  background-color: #ff900e;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#our_features,
#features_will_enjoy,
#some_facts,
#our_sponsors,
#footer_container {
  margin-top: 130px;
}
.section_title {
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.section_description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}
/* shared styles ends here  */
body {
  border: ps solid red;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
#navbar {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
#navbar #brand {
  font-size: 2.5rem;
  font-weight: 700;
  color: #131313;
}
#nav_links {
  display: flex;
  gap: 30px;
}

#nav_links .nav_item {
  list-style: none;
}

#nav_links .nav_item .nav_link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 26px;
  color: #424242;
}
/* banner styles */
#banner_content {
  text-align: center;
  max-width: 862px;
  margin: 0 auto;
}

#banner_content #banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}

#banner_image img {
  margin-top: 50px;
  width: 100%;
}

/* our features styles */
#our_features {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}

#teams_image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
#our_features #features_container {
  max-width: 537px;
  margin: 0 auto;
}

/* Features you will love & enjoy styles */

#features_will_enjoy {
  display: flex;
  align-items: center;
  gap: 140px;
}
#features_will_enjoy_container #features_will_enjoy_content {
  max-width: 586px;
  margin: 0 auto;
  /* text-align: center; */
}
#features_will_enjoy_container #features_will_enjoy_content .section_title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
#features_will_enjoy_cards_container .features_will_enjoy_card {
  width: 586px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  padding: 20px 42px;
  border-radius: 8px;
}

#features_will_enjoy_cards_container .features_will_enjoy_card .card_title {
  font-size: 20px;
  font-weight: 600;
  color: #131313;
  margin-bottom: 10px;
}
#features_will_enjoy_cards_container .features_will_enjoy_card .card_desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
  color: #727272;
  margin-bottom: 20px;
  max-width: 586px;
}

#features_will_enjoy_image img {
  width: 708px;
}

#features_will_enjoy_image #experience_badge {
  padding: 85px 53px;
  border-radius: 8px;
  position: relative;
  top: -100px;
  left: -100px;
}
#features_will_enjoy_image #experience_badge #years {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 70px;
}
#features_will_enjoy_image #experience_badge #experience {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
}

/* some facts container styles */
#some_facts {
  margin-bottom: 50px;
}
#facts_card_container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
}
#facts_card_container .fact_card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 241px;
  height: 241px;
  padding: 30px;
}
/*correction  */
#facts_card_container .fact_card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#facts_card_container .fact_card > div .card_number {
  font-size: 2rem;
  font-weight: 600;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
}
#facts_card_container .fact_card > div .card_name {
  font-size: 1.05rem;
  font-weight: 500;
  color: #727272;
  margin-top: 10px;
}

/* our sponsors styles */

#our_sponsors #section_content {
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
}

#our_sponsors #brands_container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter: grayscale(100%);
}
/* footer section */
#footer_container {
  background-color: #fff4e7;
  text-align: center;
  padding: 30px 350px;
  border-radius: 8px;
  margin-bottom: 50px;
}
#footer_container p {
  color: #424242;
  font-size: 1.25rem;
  font-weight: 500;
}
/* small devices media query */
@media screen and (max-width: 576px) {
  .btn_primary {
    font-size: 1rem;
  }
  main > section {
    width: 98%;
    margin: 0 auto;
  }
  .container {
    width: 98%;
    margin: 0 auto;
  }
  .section_title {
    font-size: 33px;
  }
  #navbar,
  #our_features,
  #features_will_enjoy {
    flex-direction: column;
  }
  #nav_links {
    gap: 15px;
  }
  #navbar {
    padding: 20px;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  #navbar #brand {
    font-weight: 700;
    color: #131313;
  }

  #banner_content #banner_title {
    font-size: 2rem;
  }

  #teams_image_container {
    grid-template-columns: 1fr;
  }
  #features_will_enjoy {
    gap: 60px;
  }
  #features_container {
    text-align: center;
  }
  #features_will_enjoy_container #features_will_enjoy_content {
    width: 100%;
  }
  #features_will_enjoy_cards_container .features_will_enjoy_card {
    width: 100%;
  }
  #features_will_enjoy_image #experience_badge {
    visibility: hidden;
  }
  #features_will_enjoy_image img {
    width: 100%;
  }
  #facts_card_container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  #our_sponsors #brands_container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
  #footer_container {
    padding: 15px;
  }
}

/* media queries for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  main > section {
    width: 98%;
    margin: 0 auto;
  }
  .container {
    width: 98%;
    margin: 0 auto;
  }
  #navbar,
  #our_features,
  #features_will_enjoy {
    flex-direction: column;
  }
  #navbar {
    margin-bottom: 50px;
    gap: 25px;
  }

  #teams_image_container {
    grid-template-columns: 1fr;
  }
  #features_container {
    text-align: center;
  }

  #features_will_enjoy_container #features_will_enjoy_content {
    width: 100%;
  }
  #features_will_enjoy_cards_container .features_will_enjoy_card {
    width: 100%;
  }
  #features_will_enjoy_image img {
    width: 100%;
  }
  #features_will_enjoy_image #experience_badge {
    visibility: hidden;
  }
  #facts_card_container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  #our_sponsors #brands_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
