* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.container {
  width: 75%;
  margin: 0 auto;
}
.btn_primary {
  background-color: #ff900e;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
}
/* navbar styles */
#navbar {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
#navbar #brand {
  font-size: 2.5rem;
  font-weight: 700;
  color: #131313;
}
#nav_links {
  display: flex;
  gap: 30px;
}

#nav_links .nav_item {
  list-style: none;
}

#nav_links .nav_item .nav_link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 26px;
  color: #424242;
}
/* banner styles */
#banner_content {
  text-align: center;
  max-width: 862px;
  margin: 0 auto;
}

#banner_content #banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}

#banner_content .section_description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}

#banner_image img {
  margin-top: 50px;
  width: 100%;
}

/* small devices media query */
@media screen and (max-width: 576px) {
  .container {
    width: 98%;
    margin: 0 auto;
  }
  #navbar {
    flex-direction: column;
  }
  #nav_links {
    gap: 15px;
  }
  #navbar {
    padding: 20px;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  #navbar #brand {
    font-weight: 700;
    color: #131313;
  }

  #banner_content #banner_title {
    font-size: 2rem;
  }
}

/* media queries for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  #navbar {
    flex-direction: column;
  }
  #navbar {
    margin-bottom: 50px;
    gap: 25px;
  }
}
