* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.container {
  width: 75%;
  margin: 0 auto;
}
main > section {
  width: 75%;
  margin: 0 auto;
}
.btn_primary {
  background-color: #ff900e;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.section_title {
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.section_description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}
/* shared styles ends here  */
header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
#navbar {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
#navbar #brand {
  font-size: 2.5rem;
  font-weight: 700;
  color: #131313;
}
#nav_links {
  display: flex;
  gap: 30px;
}

#nav_links .nav_item {
  list-style: none;
}

#nav_links .nav_item .nav_link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 26px;
  color: #424242;
}
/* banner styles */
#banner_content {
  text-align: center;
  max-width: 862px;
  margin: 0 auto;
}

#banner_content #banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}

#banner_image img {
  margin-top: 50px;
  width: 100%;
}

/* our features styles */
#our_features {
  margin-top: 130px;
  display: flex;
  align-items: center;
  gap: 70px;
}

#teams_image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
#our_features #features_container {
  max-width: 537px;
  margin: 0 auto;
}
/* small devices media query */
@media screen and (max-width: 576px) {
  .btn_primary {
    font-size: 1rem;
  }
  .container {
    width: 98%;
    margin: 0 auto;
  }
  .section_title {
    font-size: 35px;
  }
  #navbar {
    flex-direction: column;
  }
  #nav_links {
    gap: 15px;
  }
  #navbar {
    padding: 20px;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  #navbar #brand {
    font-weight: 700;
    color: #131313;
  }

  #banner_content #banner_title {
    font-size: 2rem;
  }
  #our_features {
    flex-direction: column;
  }
  #teams_image_container {
    grid-template-columns: 1fr;
  }
  #features_container {
    text-align: center;
  }
}

/* media queries for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 99%;
    margin: 0 auto;
  }
  #navbar {
    flex-direction: column;
  }
  #navbar {
    margin-bottom: 50px;
    gap: 25px;
  }
  #our_features {
    flex-direction: column;
  }
  #teams_image_container {
    grid-template-columns: 1fr;
  }
  #features_container {
    text-align: center;
  }
}
