/* small devices media query */
@media screen and (max-width: 576px) {
  .btn_primary {
    font-size: 1rem;
  }
  main > section {
    width: 98%;
    margin: 0 auto;
  }
  .container {
    width: 98%;
    margin: 0 auto;
  }
  .section_title {
    font-size: 35px;
  }
  #navbar,
  #our_features,
  #features_will_enjoy {
    flex-direction: column;
  }
  #nav_links {
    gap: 15px;
  }
  #navbar {
    padding: 20px;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  #navbar #brand {
    font-weight: 700;
    color: #131313;
  }

  #banner_content #banner_title {
    font-size: 2rem;
  }

  #teams_image_container {
    grid-template-columns: 1fr;
  }
  #features_will_enjoy {
    gap: 60px;
  }
  #features_container {
    text-align: center;
  }
  #features_will_enjoy_container #features_will_enjoy_content {
    width: 100%;
    margin: 0 20px;
  }
  #features_will_enjoy_cards_container .features_will_enjoy_card {
    width: 100%;
  }
  #features_will_enjoy_image #experience_badge {
    visibility: hidden;
  }
  #features_will_enjoy_image img {
    width: 100%;
  }
  #facts_card_container {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/* media queries for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  main > section {
    width: 98%;
    margin: 0 auto;
  }
  .container {
    width: 98%;
    margin: 0 auto;
  }
  #navbar,
  #our_features,
  #features_will_enjoy {
    flex-direction: column;
  }
  #navbar {
    margin-bottom: 50px;
    gap: 25px;
  }

  #teams_image_container {
    grid-template-columns: 1fr;
  }
  #features_container {
    text-align: center;
  }

  #features_will_enjoy_container #features_will_enjoy_content {
    width: 100%;
  }
  #features_will_enjoy_cards_container .features_will_enjoy_card {
    width: 100%;
  }
  #features_will_enjoy #features_will_enjoy_image img {
    object-fit: center;
  }
  #features_will_enjoy_image #experience_badge {
    visibility: hidden;
  }
  #facts_card_container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
